*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-bottom: 10px;
}
nav{
    padding-left: 50px;
    padding-right: 50px;
}
a{
    text-decoration: none;
}
#carouselExampleIndicators{
    max-width: 50vw;
    height: 40vh;
    margin-bottom: 20px;
}
.carousel-inner{
    max-width: 50vw;
    height: 100%;
}
.row{
    margin: 0;
}